
<aside class="col-sm-3 ml-sm-auto blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Writer and Web developer</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.amazon.com/Trevor-Elder/e/B01J4O9S50/ref=dp_byline_cont_ebooks_1"><%= fa_icon "amazon"%></a></li>
      <li><a href="https://github.com/telder11"><%= fa_icon "github"%></a></li>
    </ol>
  </div>
</aside>

