<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
       
    </p>
    
    
      <%= link_to "View All Portfolio Items", portfolios_path, class: 'btn btn-primary' %>
    
    <hr>
    
    <p>
      <%= copyright_generator %>
    </p>
  </div>
</footer>