<h1>Contact Me</h1>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_with_delimiter "150584329502394" %></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3326.97064137704!2d-82.0248162854047!3d33.502140953966425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1513024270236" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<p>
  <a href="mailto:golfertrevor@gmail.com?subject=Portfolio" "email me">Email Me</a>
</p>